:root {
  /* Area for the colors */
  --background-color: #eee;
  --title-color: rgba(255, 255, 255, 0.568);
  --button-background: #255e55;
  --table-color: #481b13;
  --active-link: #4dbedd;
  --visited-link: #ebebeb;
  --email-color: rgb(255, 255, 255);
  --black: #000;
  --white: #fff;
  --transition-speed: 600ms;

  /* Area for the font */
  --font-size: 16px;
  --header-size: 18px;
  --h1-size: 40px;
  --font-weight-text: 200;
  --font-weight-header: 100;
  --font-family: "open sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-text);
  font-size: var(--font-size);
  line-height: 1.6;
  text-align: center;
  background-color: var(--background-color);
  flex-direction: column;
  margin: auto;
  background-image: url("https://images.unsplash.com/photo-1564352969906-8b7f46ba4b8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-blend-mode: darken;
  background-size: cover;
  background-attachment: fixed;
}

body {
  background:
    /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    /* bottom, image */
      url("https://images.unsplash.com/photo-1564352969906-8b7f46ba4b8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-size: cover;
}

@media (max-width: 991px) {
  body.custom-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-size: contain;
    background-position: center;
  }
}

header {
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  overflow: auto;
  font-weight: var(--font-weight-header);
  letter-spacing: 1px;
  width: 100%;
  display: table;
  color: rgba(255, 255, 255, 0.568);
}

.profile {
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-weight: var(--font-weight-text);
  font-size: var(--header-size);
  margin-left: 15px;
  display: table;
  color: rgba(255, 255, 255, 0.568);
}

.less-width {
  margin: 20px;
  font-size: 18px;
}

.a {
  list-style: none;
  text-decoration: none;
}

.nav {
  position: relative;
  margin: 10px 1px;
  float: left;
  list-style: none;
  text-decoration: none;
}

.nav-link {
  transition: var(--transition-speed);
  list-style: none;
  text-decoration: none;
}

.title {
  font-size: 32px;
  color: var(--white);
}

.logo-no:hover {
  background-color: transparent;
}

nav a:hover {
  background-color: var(--white);
  color: var(--black);
}

.animation1 {
  color: var(--black);
}

.animation-header {
  display: inline-block;
  -webkit-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}

.about-header {
  display: inline-block;
}

.about-text {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.about-me {
  margin: 20px 20px 0 0;
  align-items: center;
  justify-content: center;
}

.away-top {
  margin-top: 30px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}

.black {
  color: rgb(255, 168, 68);
}

.thumb {
  margin-left: 20px;
  margin-right: 20px;
}

.bigger {
  font-size: 20px;
}
.contact-header {
  display: inline-block;
}

.round-image {
  text-align: center;
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 5px 4px 3px;
}

.round-image2 {
  text-align: center;
  width: 500px;
  height: 400px;
  object-fit: contain;
  border-radius: 5%;
}

.round-image2:hover {
  -webkit-animation: headShake 4s;
  animation: headShake 4s;
}

h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-header);
  font-size: var(--h1-size);
  line-height: 1.6;
  color: var(--white);
  letter-spacing: 2px;
}

h2,
h3 {
  font-size: var(--header-size);
  text-align: center;
  letter-spacing: 2px;
  color: var(--white);
  font-weight: var(--font-weight-header);
  font-family: "open sans", sans-serif;
}

p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--white);
}

.myEmail {
  font-size: var(--font-size);
}

.font-email {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-text);
  color: var(--white);
}

image {
  text-decoration: none;
}

.social-media {
  text-decoration: none;
}

.social-media:hover {
  animation: jello 4s;
  transition: all 2s ease-in;
  animation-duration: 1.5s;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* This are is CSS for the forms */

.form-index {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-family: var(--font-family);
  color: var(--white);
}

label {
  display: block;
  font-size: 16px;
  font-weight: var(--font-weight-text);
}

a.email {
  color: var(--email-color);
}

input {
  display: inline-block;
  text-align: left;
  width: 200px;
  border: thin;
  border-radius: 7px;
}

.color {
  font-family: "open sans", sans-serif;
  color: white;
}

textarea {
  width: 200px;
}

/* CSS for the Logo */

.logo-row {
  width: 250px;
  margin: 0 auto;
}

.logo {
  width: 100%;
  height: 150px;
  text-align: center;
}

/* Area For the head Navigation */

ul {
  margin: 0 auto;
  padding: 0;
  zoom: 1;
  *display: inline;
  justify-content: flex-end;
  list-style: none;
}

ul li + li {
  margin-left: 10px;
  list-style: none;
}

li {
  float: left;
  padding: 2px 5px;
  list-style-type: none;
}

/* Area For the table */

.index-table,
td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--black);
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
  padding: 15px 18px;
  font-weight: var(--font-weight-text);
  letter-spacing: 0.1em;
  overflow: scroll;
  max-width: 95vw;
  background-color: var(--background-color);
}

th {
  color: var(--white);
  background-color: #4a251e;
  height: 55px;
}

.email {
  color: var(--email-color);
}

/* Area for the Buttons */

a {
  color: var(--active-link);
}

a:visited {
  color: var(--visited-link);
}

a:hover {
  text-decoration: none;
}

a:active {
  color: var(--active-link);
}

button:visited {
  color: var(--visited-link);
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button:active {
  color: var(--active-link);
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.3;
}

button {
  border: none;
  font-family: inherit;
  background-color: var(--button-background);
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the button */
  background-color: var(--button-background);
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.9s opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* Case Study Area */

#wrapper-case {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
  padding: 45px;
  width: 100%;
  display: grid;
  max-width: 80%;
  clear: both;
}

@media (max-width: 600px) {
  #wrapper-case {
    float: none;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.case-study-text-title {
  width: 40%;
  font-size: 14px;
  text-align: center;
}

.simplicity-center {
  font-size: 14px;
  text-align: center;
  text-justify: auto;
}

.simplicity-left {
  font-size: 14px;
  text-align: left;
  text-justify: auto;
}

.case-study-img-right {
  float: right;
  clear: left;
  height: 250px;
  width: 350px;
  box-shadow: 6px 5px 15px;
  margin-right: 20px;
  margin-left: 30px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 13px;
}

.case-text {
  font-size: 14px;
  text-align: left;
}

.case-study-title {
  text-align: left;
}

.case-study-img-left {
  float: left;
  clear: right;
  height: 250px;
  width: 350px;
  box-shadow: -6px 5px 15px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 13px;
}

.study-space {
  margin-top: 50px;
}

.case-button {
  border-radius: 15px;
}

@media screen and (min-width: 576px) {
  .wrapper-case {
    padding: 5em 0.5em 1em;
    justify-content: center;
    justify-items: center;
  }
}

/* UX Area */

.ux-images {
  align-items: center;
  padding: 20px;
}

.container_text {
  float: center;
  margin-bottom: 50px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
}

.about-text-size {
  font-size: 18px;
}

.container_text_notop {
  float: center;
  margin-top: 0;
  margin-bottom: 50px;
  width: 100%;
  align-items: center;
}
/* ANIMATIONS */

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 50s cloud-move-reverse infinite alternate linear;
}

/* Area for the Work page */

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  min-width: 800px;
  min-height: 21%;
  overflow: scroll;
}

.grid_item {
  background-color: var(--black);
  padding: 20px;
  overflow: scroll;
  float: left;
  margin: 5px;
}

.grid_item:nth-child(4n + 1) {
  clear: left;
}

.grid-paragraph {
  color: var(--background-color);
  font-size: 14px;
}

.portfolio_img {
  height: 200px;
  width: 200px;
  background-size: cover;
  transition: all ease-in-out 300ms;
}

.ux-img {
  box-shadow: 3px 3px 2px;
  -webkit-animation: fadeInDown 2s;
  animation: fadeInDown 2s;
  margin: 10px;
}

/* Area for the Languages */
.container {
  padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

.language__img {
  width: 70%;
  max-width: 100px;
  transition: all 300ms;
}

.language__list {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language:hover .language__img {
  filter: brightness(70%);
  opacity: 0.7;
  transform: scale(0.9);
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 15px;
  opacity: 0;
  color: white;
}
.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 15px;
}

.title-box {
  color: var(--background-color);
}

/* Projects */

.project {
  margin-bottom: 135px;
  width: 100%;
  display: grid;
}

.project__img {
  width: 70%;
  transition: all 500ms ease;
  border-radius: 2%;
}

.project__wrapper {
  box-shadow: 0 30px 30px rgb(194, 189, 189);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 100px 15px;
  margin-top: 100px;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #12131b;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
  transform: translateY(100%);
}
.project:hover .project__wrapper:before {
  transform: translateY(0);
  opacity: 0.7;
}
.project:hover .project__img {
  transform: scale(1.05);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 0.9;
  transform: translateY(-50%);
}

.project__list {
  padding-top: 40px;
}

.project__description {
  position: absolute;
  left: 90px;
  top: 40%;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: #fff;
}

/* Media Area */
@media all and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    overflow: scroll;
    max-width: 95vw;
  }
}

@media all and (max-width: 400px) {
  .projects__wrapper {
    max-width: 10vw;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
    overflow: scroll;
    max-width: 95vw;
  }
}

.grid__item:last-child {
  grid-column: auto / auto;
  grid-row: auto / auto;
}

h1 {
  font-size: var(--header-size);
}
